.container {
 /* border: 1px solid white; container size border check */
    position: flex;
}

.login_interface {
    padding-top: 200px;
    width: 100%;
}

.login_interface label {
    color: white;
    font-family: Poppins;
}

.login_interface input {
    width: 25%;
    background-color: lightgrey;
    border-radius: 12px;
    margin-bottom: 10px;
}

.loginbtn2 {
    width: 5%;
    border-radius: 12px;
    background-color: rgb(4, 68, 4);
    color: white;
}

.loginbtn2:hover{
    background-color: #3af50bcb;
}