.container {
  /* border: 1px solid white; container size border check */
  position: flex;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate (-50%, -50%);
  text-align: center;
}

.login_interface {
  position: flex;
  width: 50%;
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate (-50%, -50%);
  text-align: center;
}

.login_interface label {
  color: white;
  font-family: Poppins;
  position: left;
}

.login_interface h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.login_interface input[type="text"],
.login_interface input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 3px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.login_interface input[type="text"]:focus,
.login_interface input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.login_interface input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login_interface input[type="submit"]:hover {
  background: #2ecc71;
}
